 /*** Portrait view ***/

 @media only screen and (max-width: 835px) {
  
    /* Navigatsiooniriba */
    .navigation {
      display: flex;
      height: 70px;
      padding: 0 2%!important;
      align-items: center;
    }

    .navigation-left {
      position: absolute;
      left: 2%;
    }
      
    .navigation-right {
      display: none;
    }
  
    /** Slides**/

    /* Slide titles */
    .slider-content .slider-title > h2 {
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-size: 1.5rem;
      text-align: center;
    }

    /* First slide */
    .slider-content-slide1 {
      display: block;
      margin: 0;
    }

    .welcome-screen {
      margin: 0;
      padding: 3%;
    }
    .ml9 {
      font-family: lato;
      position: relative;
      font-weight: 700;
      font-size: 1.3rem;
    }

    /* Second slide */
    .slide-2 .slider-content {
      padding: 0;
      height: 100%;
      width: 85%;
  }

    .slide-2 .slider-content .about-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .slide-2 .about-text > h1 {
        font-size: 1.7rem!important;
    }
    .slide-2 .about-text > h2 {
        font-size: 1rem!important;
    }
    .slide-2 .about-text > p {
        font-size: 0.6rem!important;
        text-align: justify!important;
    }
    .bubble-wrap {
        width: 100px;
        min-width: 100px;
        height: 100px;
    }
    
    /* Third slide */
  
    .slide-3 .slider-content {
      padding: 0;
      height: 100%;
      width: 85%;
      display: block;
    }

    .timeline-container {
      height: 100%;
      min-height:80%;
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      width: 32px;
      background: transparent;
      margin-bottom: 1rem;
    }

    .arrow span{
     
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      width: 32px;
      background: transparent;
    }

    .timeline {
      width:100%;
      display:block;
    }
    
    .timeline div {
      border-color: white;
      display:block;
      width:calc(100% - 120px);
      min-height:20px;
      margin-top:-3px;
      padding:10px;
    }
    
    .timeline h3 {
      font-size: 0.8rem;
    }
    
    .timeline p {
      font-size: 0.5rem;
    }

      /* First dot */
    .timeline::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      right: 100px;
      background-color: #414141;
      top: -15px;
      border-radius: 50%;
      z-index: 1;
    }

    /* Second dot */
    .timeline #rahumae::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      left: 100px;
      background-color: #414141;
      top: 83px;
      border-radius: 50%;
      z-index: 1;
  }

    /* Third dot */
    .timeline #kk::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      right: 100px;
      background-color: #414141;
      top: 164px;
      border-radius: 50%;
      z-index: 1;
    }

    /* Triangle */
    .timeline #khk::after {
      content: '';
      position: absolute;
      right: 90px;
      top: 260px;
      width: 0;
      height: 0;
      border-left: 15px solid #414141;
      border-right: 15px solid transparent;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      z-index: 1;
    }

    /* Fourth slide*/
    .slide-4 .slider-content {
      padding: 0;
      height: 100%;
      width: 85%;
    }

    .slide-4 .slider-content .skills-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .slide-4 .skills-container .skills-rows {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0;
    }
  
    .slide-4 .first-row{
      width: 100%;
      max-width: 100%;
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  
    .slide-4 .second-row{
      width: 100%;
      max-width: 100%;
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  
    .bar-constant{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 160px;
      width: 125px;
  
    }
    .progress-bar{
      height: 125px;
      width: 125px;
    }
    .progress-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 100%
    }

    .progress-title h2 {
      font-family: Lato, sans-serif;
      font-size: 1.1rem;
      text-align: center;
    }

    /* Fifth slide */
    .slide-5 .slider-content {
      padding-left: 0;
      width: 85%;
      height: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  
    .works-container {
      height: 100%;
      min-height:100%;
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      }

    .carousel .container .slide  h2{
      font-family: Lato, sans-serif;
      font-weight: 900;
      font-size: 1.5rem;
      text-align: center;
    }
    .carousel nav{
      display: none;
    }

    .carousel .container .slide  p{
      font-family: Lato, sans-serif;
      font-size: 1.1rem;
      text-align: center;
    }

    .number-pagination {
      right: 2%;
    }
    .slider-pagination {
      left: 2%;
    }
   
}


@media only screen and (min-width: 840px) AND (max-width: 1100px) {

  /** Slides **/
  .slide-2{
      justify-content: space-evenly;
      padding-top: 60px;
      padding-bottom: 60px;
  }
  .slide-2 .slider-content > h1 {
      font-size: 1.7rem;
  }
  .slide-2 .slider-content > h2 {
      font-size: 1rem;
  }
  .slide-2 .slider-content > p {
      font-size: 0.5rem;
      text-align: justify;
  }
  .bubble-wrap {
      width: 150px;
      height: 150px;
  }
}


  /*  Queries specifically for dots */
@media only screen AND (min-width: 295px) AND (max-width: 326px) {
    .timeline #rahumae::after {
      top: 85px;
    }
    .timeline #kk::after {
      top: 183px;
    }
    .timeline #khk::after {
      top: 280px;
    }
}

@media only screen AND (min-width: 327px) AND (max-width: 409px) {
  .timeline #rahumae::after {
    top: 85px;
  }
  .timeline #kk::after {
    top: 167px;
  }
  .timeline #khk::after {
    top: 264px;
  }
}

@media only screen AND (min-width: 410px) AND (max-width: 417px) {
  .timeline #khk::after {
    top: 248px;
  }
}

@media only screen AND (min-width: 418px) AND (max-width: 835px) {
  .timeline #rahumae::after {
    top: 68px;
  }
  .timeline #kk::after {
    top: 151px;
  }
  .timeline #khk::after {
    top: 231px;
    right: 91px;
  }
}

